@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-size:14px;
  }
*{
    font-family: "Cairo", sans-serif;
}
body{
    width:100%;
    position: relative;
    overflow-x:hidden;
   
}

